@import 'reset';

$color-orange: #ff6e14;
$color-orange-hover: #cf5103;
$color-white: #fff;
$color-black: #000;
$blue-pale: rgb(244, 244, 252);
$color-blue: rgb(56, 56, 197);
$color-blue-pastel: #8191a0;
$box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);

$toggle-background-color-on: #ff6e14;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 60px;
$toggle-height: 30px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);


html {
  font-family: "Open Sans",sans-serif,Arial;
  font-size: calc(1em * .625 + 0%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 1.4em;
  margin:0;
}

a {
  text-decoration: none;
  color: $color-black;
}

.navbar {

  overflow: hidden;
  background-color: $color-white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: $box-shadow;
  z-index: 5;

  a {
    text-align: center;
    margin: 0 0.5rem;
    padding: 0.5rem;
  }

  .icon {
    color: $color-orange;
    display: none;
    height: 50px;
    width: 50px;
  }

}

.topbar-logo-ad-search {
  float: left;

  a {

    display: inline-block;

    img {
      vertical-align: middle;
    }

    &:last-child {
      border-bottom: solid 3px $color-orange;
    }
  }
}

.topbar-nav {
  float: right;

  a {
    display: inline-block;

    img {
      display: block;
      margin: auto;
    }

    &:after {
      display:block;
      content: '';
      border-bottom: solid 3px $color-orange;
      transform: scaleX(0);  
      transition: transform 250ms ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }
}

.button-newad {
  background-color: $color-orange;
  color: $color-white !important;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  height: 4rem;

  img {
    margin: auto;
  }

  span {
    margin-left: 0.5rem;
  }

  &:hover {
    background: $color-orange-hover;
  }
}

.clearfix:after {
  visibility: hidden; 
  display: block; 
  font-size: 0; 
  content: " "; 
  clear: both; 
  height: 0; 
} 

.main {
  position: relative;
  height: 1500px; 
  z-index: 4;
  
}

.header-main {
  display: block;
  height: 300px;
  background: $color-orange;
  border-radius: 0 0 50% 50%;
  z-index: 3;
}

.container {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  margin: 0 auto;
  width: 80%;
  height: 1300px;
  background: #fff;
  border-radius: 5px;
}

.form-box {
  position: relative;
  margin: 4rem auto;
  width: 80%;
  box-shadow: $box-shadow;
}
.radio-box {
  padding: 10px 40px;
}

.l-radio {
  padding-top: 20px;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  transition: background .2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
  
  
  input {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 1px $color-black;
    box-shadow: inset 0 0 0 1.5px $color-black;
    appearance: none;
    padding: 0;
    margin: 0;
    transition: box-shadow 150ms cubic-bezier(.95,.15,.5,1.25);
    pointer-events: none;
  
    &:focus {
      outline: none
    }
      
    &:checked {
      box-shadow: inset 0 0 0 6px $color-orange;
    }
  }

  span {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
  }
    
}

.input-box {
  display: block;
  padding: 20px 40px;


  .category {
    border-right: solid 1px rgba(27, 47, 88, 0.8);
    background: $blue-pale;
    width: 32%;
    line-height: 40px;
    padding: 0 20px;
    display: inline-block;

    .menu::before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      background: $color-orange;
      right: 20px;
      top: -10px;
      transform: rotate(45deg);
      z-index: -1;

    }

    [id^=btn]:checked + ul {
      display: block;
    }
  

    input {
      display: none;
    }

    .b-dropdown {
      display: inline;
      cursor: pointer;
      width: 100%;

      &::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: middle;
        background: url(img/category.svg) center center / contain no-repeat;
      }
    }

    span {
      float: right;
      line-height: 35px;

    }

    ul {
      position: absolute;
      background: $color-white;
      list-style: none;
      top: 70px;
      left: 0;
      width: 100%;
      display: none;

       li {
        line-height: 40px;
        padding: 8px 20px;
        cursor: pointer;

         a {
           color: $color-black;
           text-decoration: none;
           display: block;

           &:hover {
             background:rgb(240, 176, 226);
           }
         }

         span {
           float: right;
           margin-top: 10px;
           padding: 0 10px;
           color: $color-black;
         }
       }

       ul {
         position: static;

         li {
           line-height: 30px;
           padding-left: 30px;
         }
       }
    }

  }
  
  .research {
    display: inline-block;
    width: 31%;


    label {
      position: relative;
    }

    label::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      width: 20px;
      background: url(img/search.svg) center center / contain no-repeat;
    }

    #research {
      background: $blue-pale;
      border: none;
      width: 100%;
      padding: 10px 30px;
    }

  }
  
  .location {
    display: inline-block;
    width: 31%;

    label {
      position: relative;
    }

    label::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      width: 20px;
      background: url(img/location.svg) center center / contain no-repeat;
    }

    #location {
      background: $blue-pale;
      border: none;
      width: 100%;
      padding: 10px 30px;
    }
  }
}

.price {
  padding: 20px 40px;
  background: $color-white;
  
  button {
    padding:10px 30px;
    border-radius:20px;
  }
}

.submit-btn {
  padding: 20px 40px;
  position: absolute;
  bottom: -13%;
  left: 36%;
  

  button {
    padding: 15px 30px;
    border-radius:5px;
    background: $color-blue;
    color: $color-white;
    border: none;
    font-weight: bold;
  }
}

.delivery-save {
  display: inline-block;
  padding: 20px 40px;
  width: 100%;
  .delivery {
    float: left;
    width: 50%;
    padding-bottom: 20px;
    .toggle-control, img, .available-ad {
      display: inline-block;
      vertical-align: middle;
    }

    .available-ad {
      padding-left: 70px;
      padding-right: 10px;
    }

    .toggle-control {
      display: block;
      position: relative;
      padding-left: $toggle-width;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      user-select: none;
    
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
    
      input:checked ~ .control {
        background-color: $toggle-background-color-on;
        
        &:after {
          left: $toggle-width - $toggle-control-size - $toggle-gutter;
        }
      }
    
      .control {
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: $toggle-width;
        border-radius: $toggle-radius;
        background-color: $toggle-background-color-off;
        transition: background-color $toggle-control-speed $toggle-control-ease;
    
        &:after {
          content: "";
          position: absolute;
          left: $toggle-gutter;
          top: $toggle-gutter;
          width: $toggle-control-size;
          height: $toggle-control-size;
          border-radius: $toggle-radius;
          background: $toggle-control-color;
          transition: left $toggle-control-speed $toggle-control-ease;
        }
      }
    }


  }

  .save {
    text-align: right;
    float: right;
    width: 50%;
    padding-bottom: 20px;
    img, .save-search {
      display: inline-block;
      color: $color-blue;
      font-weight: bold;
      vertical-align: middle;
    }
  }
  
}

.ad-container {
  width: 100%;
  padding: 20px 0;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;

  .ad-filter {

    .ad-inline {
      display: inline-block;
      width: 18%;
  
  
      span {
        color: $color-orange;
        padding-left: 3px;
      }
    }
  
  
    #filter-option {
      padding: 8px;
    }
    
  }
  
}

.title {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem 0;
}


section, aside {
  padding: 2rem 0;
  display: block;

  article {
    border: solid 1px $color-blue-pastel;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;

    .description {
      margin-top: 2rem;

      a {
        font-size: 2rem;
        font-weight: bold;
      }
  
      a:hover {
        color: $color-orange;
      }

      .price-ad {
        margin-top: 8px;

        span {
          font-size: 1.8rem;
          font-weight: bold;
        }
      }

      .details {
        padding: 20px 0;
        color: $color-blue-pastel;
        font-weight: bold;

        p{
          line-height: 1.6;
        }
      }

      img {
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: $color-orange;
      }
    }


  }

}

section {
  float: left;
  width: 68%;

  article, .blank, button {
    width: 100%;
  }

  article {
    height: 16rem;

    img {
      float: left;
      width: 30%;
      height: 100%;
      border-radius: 10px 0 0 10px;
    }

    .description {
      float: right;
      width: 65%;
    }
  }

  .blank {
    height: 5rem;
    border: solid 1px $color-blue-pastel;
    margin-bottom: 20px;
  }

  button {
    background-color: $color-blue;
    height: 5rem;
    color:$color-white;
    font-size: 1.8rem;
    border: none;

    img, .save-search-section {
      display: inline-block;
      vertical-align: middle;
    }

  }
}

aside {
  float: right;
  width: 30%;

  article {
    height: 40rem;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 50%;
    }

    .description {
      margin-left: 2rem;
    }
  }
}

footer {
  clear: both;
  margin-bottom: 0;
}






@media only screen and (max-width: 970px) {


  .navbar  {

    a:not(.logo):not(.icon) {
      display: none;
    }

    .icon {
      display:block;
    }

  }

  .topbar-logo-ad-search {
    float: right;
  }

  .topbar-nav {
    display: block;
  }

  .header-main {
    display: none;
  }

  .navbar {

    &.responsive {

      .topbar-logo-ad-search {
        float: none;

        a {
          display: block;
          text-align: left; 

          img {
            vertical-align: middle;
          }

          &:last-child {
            border-bottom: solid 1px $color-black;
          }
        }
      }

      .topbar-nav {
        float: none;

        a {
          display: block;
          text-align: left; 

          img {
            display: inline-block;
          }
        }
      }

      .icon {
        float: right;
      }
    }
  }
  
  aside {
  
    article {
      display: none;
    }
  }

  section {
    width: 100%;
  }

    
}

@media only screen and (max-width: 480px) {


}