/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: calc(1em * .625 + 0%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 1.4em;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, 0.08), 0 4px 8px 0 rgba(26, 26, 26, 0.12);
  z-index: 5;
}
.navbar a {
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.5rem;
}
.navbar .icon {
  color: #ff6e14;
  display: none;
  height: 50px;
  width: 50px;
}

.topbar-logo-ad-search {
  float: left;
}
.topbar-logo-ad-search a {
  display: inline-block;
}
.topbar-logo-ad-search a img {
  vertical-align: middle;
}
.topbar-logo-ad-search a:last-child {
  border-bottom: solid 3px #ff6e14;
}

.topbar-nav {
  float: right;
}
.topbar-nav a {
  display: inline-block;
}
.topbar-nav a img {
  display: block;
  margin: auto;
}
.topbar-nav a:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ff6e14;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.topbar-nav a:hover:after {
  transform: scaleX(1);
}

.button-newad {
  background-color: #ff6e14;
  color: #fff !important;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  height: 4rem;
}
.button-newad img {
  margin: auto;
}
.button-newad span {
  margin-left: 0.5rem;
}
.button-newad:hover {
  background: #cf5103;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.main {
  position: relative;
  height: 3800px;
  z-index: 4;
}

.header-main {
  display: block;
  height: 300px;
  background: #ff6e14;
  border-radius: 0 0 50% 50%;
  z-index: 3;
}

.container {
  position: absolute;
  top: 4%;
  left: 10%;
  right: 10%;
  margin: 0 auto;
  width: 80%;
  height: 1300px;
  background: #fff;
  border-radius: 5px;
}

.form-box {
  position: relative;
  margin: 4rem auto;
  width: 80%;
  box-shadow: 0 -1px 4px 0 rgba(26, 26, 26, 0.08), 0 4px 8px 0 rgba(26, 26, 26, 0.12);
}

.radio-box {
  padding: 10px 40px;
}

.l-radio {
  padding-top: 20px;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}
.l-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px #000;
  box-shadow: inset 0 0 0 1.5px #000;
  appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}
.l-radio input:focus {
  outline: none;
}
.l-radio input:checked {
  box-shadow: inset 0 0 0 6px #ff6e14;
}
.l-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  padding: 0 8px;
}

.input-box {
  display: block;
  padding: 20px 40px;
}
.input-box .category {
  border-right: solid 1px rgba(27, 47, 88, 0.8);
  background: #f4f4fc;
  width: 32%;
  line-height: 40px;
  padding: 0 20px;
  display: inline-block;
}
.input-box .category .menu::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #ff6e14;
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}
.input-box .category [id^=btn]:checked + ul {
  display: block;
}
.input-box .category input {
  display: none;
}
.input-box .category .b-dropdown {
  display: inline;
  cursor: pointer;
  width: 100%;
}
.input-box .category .b-dropdown::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  background: url(img/category.svg) center center/contain no-repeat;
}
.input-box .category span {
  float: right;
  line-height: 35px;
}
.input-box .category ul {
  position: absolute;
  background: #fff;
  list-style: none;
  top: 70px;
  left: 0;
  width: 100%;
  display: none;
}
.input-box .category ul li {
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
}
.input-box .category ul li a {
  color: #000;
  text-decoration: none;
  display: block;
}
.input-box .category ul li a:hover {
  background: #f0b0e2;
}
.input-box .category ul li span {
  float: right;
  margin-top: 10px;
  padding: 0 10px;
  color: #000;
}
.input-box .category ul ul {
  position: static;
}
.input-box .category ul ul li {
  line-height: 30px;
  padding-left: 30px;
}
.input-box .research {
  display: inline-block;
  width: 31%;
}
.input-box .research label {
  position: relative;
}
.input-box .research label::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(img/search.svg) center center/contain no-repeat;
}
.input-box .research #research {
  background: #f4f4fc;
  border: none;
  width: 100%;
  padding: 10px 30px;
}
.input-box .location {
  display: inline-block;
  width: 31%;
}
.input-box .location label {
  position: relative;
}
.input-box .location label::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(img/location.svg) center center/contain no-repeat;
}
.input-box .location #location {
  background: #f4f4fc;
  border: none;
  width: 100%;
  padding: 10px 30px;
}

.price {
  padding: 20px 40px;
  background: #fff;
}
.price button {
  padding: 10px 30px;
  border-radius: 20px;
}

.submit-btn {
  padding: 20px 40px;
  position: absolute;
  bottom: -13%;
  left: 36%;
}
.submit-btn button {
  padding: 15px 30px;
  border-radius: 5px;
  background: #3838c5;
  color: #fff;
  border: none;
  font-weight: bold;
}

.delivery-save {
  display: inline-block;
  padding: 20px 40px;
  width: 100%;
}
.delivery-save .delivery {
  float: left;
  width: 50%;
  padding-bottom: 20px;
}
.delivery-save .delivery .toggle-control, .delivery-save .delivery img, .delivery-save .delivery .available-ad {
  display: inline-block;
  vertical-align: middle;
}
.delivery-save .delivery .available-ad {
  padding-left: 70px;
  padding-right: 10px;
}
.delivery-save .delivery .toggle-control {
  display: block;
  position: relative;
  padding-left: 60px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.delivery-save .delivery .toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.delivery-save .delivery .toggle-control input:checked ~ .control {
  background-color: #ff6e14;
}
.delivery-save .delivery .toggle-control input:checked ~ .control:after {
  left: 35px;
}
.delivery-save .delivery .toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  background-color: darkgray;
  transition: background-color 0.15s ease-in;
}
.delivery-save .delivery .toggle-control .control:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: white;
  transition: left 0.15s ease-in;
}
.delivery-save .save {
  text-align: right;
  float: right;
  width: 50%;
  padding-bottom: 20px;
}
.delivery-save .save img, .delivery-save .save .save-search {
  display: inline-block;
  color: #3838c5;
  font-weight: bold;
  vertical-align: middle;
}

.ad-container {
  width: 100%;
  padding: 20px 0;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}
.ad-container .ad-filter .ad-inline {
  display: inline-block;
  width: 18%;
}
.ad-container .ad-filter .ad-inline span {
  color: #ff6e14;
  padding-left: 3px;
}
.ad-container .ad-filter #filter-option {
  padding: 8px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem 0;
}

section, aside {
  padding: 2rem 0;
  display: block;
}
section article, aside article {
  border: solid 1px #8191a0;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
section article .description, aside article .description {
  margin-top: 2rem;
}
section article .description a, aside article .description a {
  font-size: 2rem;
  font-weight: bold;
}
section article .description a:hover, aside article .description a:hover {
  color: #ff6e14;
}
section article .description .price-ad, aside article .description .price-ad {
  margin-top: 8px;
}
section article .description .price-ad span, aside article .description .price-ad span {
  font-size: 1.8rem;
  font-weight: bold;
}
section article .description .details, aside article .description .details {
  padding: 20px 0;
  color: #8191a0;
  font-weight: bold;
}
section article .description .details p, aside article .description .details p {
  line-height: 1.6;
}
section article .description img, aside article .description img {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ff6e14;
}

section {
  float: left;
  width: 68%;
}
section article, section .blank, section button, section .pagination {
  width: 100%;
}
section article {
  height: 16rem;
}
section article img {
  float: left;
  width: 30%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
section article .description {
  float: right;
  width: 65%;
}
section .blank {
  height: 5rem;
  border: solid 1px #8191a0;
  margin-bottom: 20px;
}
section .save-button {
  background-color: #3838c5;
  text-align: center;
  height: 5rem;
  color: #fff;
  font-weight: bold;
  padding: 1.6rem;
  font-size: 1.8rem;
  border: none;
}
section .save-button img, section .save-button .save-search-section {
  display: inline-block;
  vertical-align: middle;
}
section .pagination {
  text-align: center;
  margin: 3rem auto;
}
section .pagination .page-number {
  display: inline-block;
}
section .pagination .page-number a {
  color: #3838c5;
  float: left;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: normal;
}
section .pagination .page-number a.active {
  background-color: #ff6e14;
  color: white;
}
section .pagination .page-number a:hover:not(.active) {
  background-color: #ddd;
  text-decoration: underline;
}
section .pagination .page-number a:last-child {
  font-weight: 900;
}

aside {
  float: right;
  width: 30%;
}
aside article {
  height: 40rem;
}
aside article img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50%;
}
aside article .description {
  margin-left: 2rem;
}

footer {
  clear: both;
  margin-bottom: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 4;
}
footer .footer-1 {
  background-color: #f4f4fc;
}
footer .footer-1 .footer-category, footer .footer-1 .footer-region {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footer-1 .footer-category .grid-container, footer .footer-1 .footer-region .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footer-1 .footer-category .grid-container div, footer .footer-1 .footer-region .grid-container div {
  margin: 20px;
}
footer .footer-1 .footer-category .grid-container div hr, footer .footer-1 .footer-region .grid-container div hr {
  border: 1px solid #8191a0;
  opacity: 0.3;
}
footer .footer-1 .footer-category .grid-container div ul, footer .footer-1 .footer-region .grid-container div ul {
  margin: 20px;
}
footer .footer-1 .footer-category .grid-container div ul li:first-child, footer .footer-1 .footer-region .grid-container div ul li:first-child {
  color: #000;
  font-weight: 900;
  line-height: 1.6;
}
footer .footer-1 .footer-category .grid-container div ul li a, footer .footer-1 .footer-region .grid-container div ul li a {
  color: #8191a0;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6;
}
footer .footer-1 .footer-category .grid-container div ul li a:hover, footer .footer-1 .footer-region .grid-container div ul li a:hover {
  color: #ff6e14;
}
footer .footer-2 {
  background-color: #474747;
  color: #fff;
}

@media only screen and (max-width: 970px) {
  .navbar a:not(.logo):not(.icon) {
    display: none;
  }
  .navbar .icon {
    display: block;
  }

  .topbar-logo-ad-search {
    float: right;
  }

  .topbar-nav {
    display: block;
  }

  .header-main {
    display: none;
  }

  .navbar.responsive .topbar-logo-ad-search {
    float: none;
  }
  .navbar.responsive .topbar-logo-ad-search a {
    display: block;
    text-align: left;
  }
  .navbar.responsive .topbar-logo-ad-search a img {
    vertical-align: middle;
  }
  .navbar.responsive .topbar-logo-ad-search a:last-child {
    border-bottom: solid 1px #000;
  }
  .navbar.responsive .topbar-nav {
    float: none;
  }
  .navbar.responsive .topbar-nav a {
    display: block;
    text-align: left;
  }
  .navbar.responsive .topbar-nav a img {
    display: inline-block;
  }
  .navbar.responsive .icon {
    float: right;
  }

  aside article {
    display: none;
  }

  section {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
